# Directus
# https://docs.directus.io/self-hosted/docker-guide.html
# 
# KEY and SECRET are used to authenticate the Directus app with the API
#
KEY=
SECRET=

# The URL of the Directus app
#
PUBLIC_URL=https://content.inputstudio.co

# The database configuration. We use Postgres.
#
DB_CLIENT=pg
DB_CONNECTION_STRING=

# The admin user. This user will be created when the container is started for the first time
#
ADMIN_EMAIL=
ADMIN_PASSWORD=

# The CORS configuration
#
CORS_ENABLED=true
CORS_ORIGIN=true

# Ghost
# https://hub.docker.com/_/ghost
#
# The URL of the Ghost app
#
url=https://blog.inputstudio.co

# The database configuration. Ghost use MySQL.
#
database__client=mysql
database__connection__database=
database__connection__host=
database__connection__password=
database__connection__user=

# The mail configuration.
#
mail__options__auth__pass=
mail__options__auth__user=
mail__options__host=
mail__options__service=
mail__transport=SMTP

# Some other configuration
#
privacy__useTinfoil=true