# Telegram bot configuration for the contact form.
# Learn more about Telegram bots here: https://core.telegram.org/bots
#
NUXT_BOT_API_KEY=
NUXT_CHAT_ID=

# Ghost
# https://hub.docker.com/_/ghost
#
# The URL of the Ghost app
#
url=https://inputstudio.co/blog

# The database configuration. Ghost use MySQL.
#
database__client=mysql
database__connection__database=
database__connection__host=
database__connection__password=
database__connection__user=

# The mail configuration.
#
mail__options__auth__pass=
mail__options__auth__user=
mail__options__host=
mail__options__service=
mail__transport=SMTP

# Some other configuration
#
privacy__useTinfoil=true