@mixin button($bg: #fff, $color: #111, $border: 3px solid #111, $cursor: auto) {
    padding: 0.5rem 1rem;
    border: $border;
    background: $bg;
    color: $color;
    font-weight: bold;
    cursor: $cursor;
    transition: background 0.2s ease-in;

    &:hover {
        background: $color;
        color: $bg;
    }
}

@mixin fade-in-animation($duration: 800ms, $delay: 1100ms) {
    opacity: 0;
    animation: fade-in $duration $delay;
    animation-fill-mode: forwards;

    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}