// https://www.colorhunt.co/palette/0000005800ffe900ffffc600

$primary: #5800FF;
$secondary: #E900FF;
$tertiary: #FFC600;
$background: #000000;

$on-primary: #FFFFFF;
$on-secondary: #FFFFFF;
$on-tertiary: #000000;
$on-background: #FFFFFF;