* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

.button {
    padding: 0.5rem 1rem;
    border: 3px solid #111;
    background: #fff;
    transition: background 0.2s ease-in;
    font-weight: bold;

    &:hover {
        color: #fff;
        background: #111;
    }
}

.invert {
    border: 3px solid #111;
    color: #fff;
    background: #111;
    
    &:hover {
        color: #111;
        background: #fff;
    }
}
